/*=====FONTS======*/
/*online*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*local*/
@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Regular.svg#BarlowCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Medium.svg#BarlowCondensed-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BlackItalic.svg#BarlowCondensed-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLightItalic.svg#BarlowCondensed-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBold.svg#BarlowCondensed-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-SemiBoldItalic.svg#BarlowCondensed-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-LightItalic.svg#BarlowCondensed-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-MediumItalic.svg#BarlowCondensed-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraLight.svg#BarlowCondensed-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Italic.svg#BarlowCondensed-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBoldItalic.svg#BarlowCondensed-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ThinItalic.svg#BarlowCondensed-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Thin.svg#BarlowCondensed-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-ExtraBold.svg#BarlowCondensed-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Light.svg#BarlowCondensed-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-BoldItalic.svg#BarlowCondensed-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Black.svg#BarlowCondensed-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.eot");
  src: url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.woff2") format("woff2"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.woff") format("woff"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.ttf") format("truetype"), url("../asserts/fonts/barlowCondensed-webfont/BarlowCondensed-Bold.svg#BarlowCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-SemiBold.svg#YanoneKaffeesatz-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-ExtraLight.svg#YanoneKaffeesatz-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.eot");
  src: url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.eot?#iefix") format("embedded-opentype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.woff2") format("woff2"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.woff") format("woff"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.ttf") format("truetype"), url("../asserts/fonts/YanoneKaffeesatz-webfont/YanoneKaffeesatz-Medium.svg#YanoneKaffeesatz-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*==================*/
/*=====================*/
/*variables, mixins, media queries, functions and all*/
/* VARIABLES */
/*======== margin bottom =====*/
/* MIXINS */
@-webkit-keyframes wobble_x {
  16.65% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wobble_x {
  16.65% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes wobble_y {
  16.65% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes wobble_y {
  16.65% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*global styles */
/*
    *** Universal naming convention   ***
    class__name  : double underscore for class names
    id_name : single underscore for id names
    variable-name : single dash for variable names

*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", "Barlow Condensed", "Yanone Kaffeesatz", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfbfe;
  color: #6d6a7c;
}

body h1, body h2, body h3, body h4 {
  color: #242329;
  font-weight: 600;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

body img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 1.25rem;
}

.section__subtitle {
  display: block;
  font-size: 0.813rem;
  margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 770px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  background-color: #6e57e0;
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: 500;
}

.btn:hover {
  background-color: #5a43cb;
}

.btn .btn__icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn__flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__small {
  padding: .75rem 1rem;
}

.btn__link {
  padding: 0;
  background-color: transparent;
  color: #6e57e0;
}

.btn__link:hover {
  background-color: transparent;
  color: #5a43cb;
}

/*sections and pages*/
/* Header */
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfbfe;
}

.header .nav {
  max-width: 968px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__logo,
.header .nav .nav__toggle {
  color: #242329;
  font-weight: 500;
}

.header .nav .nav__logo:hover,
.header .nav .nav__toggle:hover {
  color: #6e57e0;
}

.header .nav .nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.header .nav .nav__toggle:hover {
  color: #6e57e0;
}

.header .nav .nav__list {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.header .nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
}

.header .nav .nav__link:hover {
  color: #6e57e0;
}

.header .nav .nav__icon {
  font-size: 1.2rem;
}

.header .nav .nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.header .nav .nav__close:hover {
  color: #5a43cb;
}

@media screen and (max-width: 767px) {
  .header .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #fbfbfe;
    padding: 2rem 1.5rem 4rem;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .show__menu {
    bottom: 0;
  }
}

.home__container {
  gap: 1rem;
}

.home__container .home__content {
  -ms-grid-columns: .5fr 3fr;
      grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__container .home__content .home__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__container .home__content .home__social .home__social-icon {
  font-size: 1.25rem;
  color: #6e57e0;
}

.home__container .home__content .home__social .home__social-icon:hover {
  color: #5a43cb;
}

.home__container .home__content .home__img .home__blob {
  width: 200px;
  fill: #6e57e0;
}

.home__container .home__content .home__img .home__blob .home__blob-img {
  width: 250px;
}

.home__container .home__content .home__data {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.home__container .home__content .home__data .home__title {
  font-size: 2rem;
}

.home__container .home__content .home__data .home__subtitle {
  font-size: 1.125rem;
  color: #6d6a7c;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.home__container .home__content .home__data .home__description {
  margin-bottom: 2rem;
}

.home__container .home__content .home__data .btn:hover {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.home__container .home__content .home__data .btn:hover .btn__icon {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.home__container .home__content .home__data .btn:hover:hover .btn__icon, .home__container .home__content .home__data .btn:hover:focus .btn__icon, .home__container .home__content .home__data .btn:hover:active .btn__icon {
  -webkit-animation-name: wobble_x;
          animation-name: wobble_x;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.home__container .home__scroll {
  display: none;
}

.home__container .home__scroll .home__scroll-btn {
  color: #6e57e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.home__container .home__scroll .home__scroll-btn:hover {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.home__container .home__scroll .home__scroll-btn:hover:hover .btn__icon, .home__container .home__scroll .home__scroll-btn:hover:focus .btn__icon, .home__container .home__scroll .home__scroll-btn:hover:active .btn__icon {
  -webkit-animation-name: wobble_y;
          animation-name: wobble_y;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.home__container .home__scroll .home__scroll-btn .home__scroll-mouse {
  font-size: 2rem;
}

.home__container .home__scroll .home__scroll-btn .home__scroll-name {
  font-size: 0.813rem;
  color: #242329;
  font-weight: 500;
  margin-right: 0.25rem;
}

.home__container .home__scroll .home__scroll-btn .home__scroll-arrow {
  font-size: 1.25rem;
}

.about .about__container .about__img {
  width: 200px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about .about__container .about__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about .about__container .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about .about__container .about__info .about__info-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #242329;
}

.about .about__container .about__info .about__info-name {
  font-size: 0.813rem;
}

.about .about__container .about__info .about__info-title,
.about .about__container .about__info .about__info-name {
  display: block;
  text-align: center;
}

.about .about__container .about__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__container .about__btn:hover {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about .about__container .about__btn:hover:hover .btn__icon, .about .about__container .about__btn:hover:focus .btn__icon, .about .about__container .about__btn:hover:active .btn__icon {
  -webkit-animation-name: wobble_y;
          animation-name: wobble_y;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.skills .skills__container {
  row-gap: 0;
}

.skills .skills__container .skills__content .skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.skills .skills__container .skills__content .skills__header .skills__icon,
.skills .skills__container .skills__content .skills__header .skills__arrow {
  font-size: 2rem;
  color: #6e57e0;
}

.skills .skills__container .skills__content .skills__header .skills__icon {
  margin-right: 0.75rem;
}

.skills .skills__container .skills__content .skills__header .skills__title {
  font-size: 1.125rem;
}

.skills .skills__container .skills__content .skills__header .skills__subtitle {
  font-size: 0.813rem;
  color: #a19fad;
}

.skills .skills__container .skills__content .skills__header .skills__arrow {
  margin-left: auto;
  -webkit-transition: .4s;
  transition: .4s;
}

.skills .skills__container .skills__content .skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills .skills__container .skills__content .skills__list .skills__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills .skills__container .skills__content .skills__list .skills__name {
  font-size: 0.938rem;
  font-weight: 500;
}

.skills .skills__container .skills__content .skills__list .skills__bar,
.skills .skills__container .skills__content .skills__list .skills__percentage {
  height: 5px;
  border-radius: .25rem;
}

.skills .skills__container .skills__content .skills__list .skills__bar {
  background-color: #c1b6fc;
}

.skills .skills__container .skills__content .skills__list .skills__percentage {
  display: block;
  background-color: #6e57e0;
}

.skills .skills__container .skills__content .skills__list .subskills-1__one {
  width: 90%;
}

.skills .skills__container .skills__content .skills__list .subskills-1__two {
  width: 60%;
}

.skills .skills__container .skills__content .skills__list .subskills-1__three {
  width: 50%;
}

.skills .skills__container .skills__content .skills__list .subskills-2__one {
  width: 85%;
}

.skills .skills__container .skills__content .skills__list .subskills-2__two {
  width: 75%;
}

.skills .skills__container .skills__content .skills__list .subskills-2__three {
  width: 80%;
}

.skills .skills__container .skills__content .skills__list .subskills-2__four {
  width: 50%;
}

.skills .skills__container .skills__content .skills__list .subskills-3__one {
  width: 95%;
}

.skills .skills__container .skills__content .skills__list .subskills-3__two {
  width: 90%;
}

.skills .skills__container .skills__content .skills__list .subskills-3__three {
  width: 55%;
}

.skills .skills__container .skills__content .skills__list .subskills-3__four {
  width: 60%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.qctn .qctn__container .qctn__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qctn .qctn__container .qctn__tabs .qctn__btn {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qctn .qctn__container .qctn__tabs .qctn__btn:hover {
  color: #6e57e0;
}

.qctn .qctn__container .qctn__tabs .qctn__btn .qctn__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qctn .qctn__container .qctn__tabs .qctn__active {
  color: #6e57e0;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data .qctn__title {
  font-size: 0.938rem;
  font-weight: 500;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data .qctn__subtitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data .qctn__calendar {
  font-size: 0.75rem;
  color: #a19fad;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data .qctn__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #6e57e0;
  border-radius: 50%;
}

.qctn .qctn__container .qctn__section .qctn__content .qctn__data .qctn__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #6e57e0;
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qctn .qctn__container .qctn__section [data-content] {
  display: none;
}

.qctn .qctn__container .qctn__section .qctn__active[data-content] {
  display: block;
}

.services .services__container {
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.services .services__container .services__content {
  position: relative;
  background-color: #fff;
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  transition: .3s;
}

.services .services__container .services__content:hover {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services .services__container .services__content .services__icon {
  display: block;
  font-size: 1.5rem;
  color: #6e57e0;
  margin-bottom: 1rem;
}

.services .services__container .services__content .services__title {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.services .services__container .services__content .services__btn {
  cursor: pointer;
  font-size: 0.813rem;
}

.services .services__container .services__content .services__btn:hover {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.services .services__container .services__content .services__btn:hover .btn__icon {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.services .services__container .services__content .services__btn:hover:hover .btn__icon, .services .services__container .services__content .services__btn:hover:focus .btn__icon, .services .services__container .services__content .services__btn:hover:active .btn__icon {
  -webkit-animation-name: wobble_x;
          animation-name: wobble_x;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.services .services__container .services__content .services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.services .services__container .services__content .services__modal .services__modal-content {
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: .5rem;
}

.services .services__container .services__content .services__modal .services__modal-content .services__modal-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.services .services__container .services__content .services__modal .services__modal-content .services__modal-services {
  row-gap: 1rem;
}

.services .services__container .services__content .services__modal .services__modal-content .services__modal-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services__container .services__content .services__modal .services__modal-content .services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e57e0;
}

.services .services__container .services__content .services__modal .services__modal-content .services__modal-icon {
  color: #6e57e0;
  margin-right: 0.25rem;
}

.services .active__modal {
  opacity: 1 !important;
  visibility: visible !important;
}

.portfolio .portfolio__container .portfolio__content {
  padding: 0 1.5rem;
}

.portfolio .portfolio__container .portfolio__content .portfolio__image {
  width: 265px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__title {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__description {
  margin-bottom: 0.75rem;
}

.portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__btn:hover {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__btn:hover .btn__icon {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__btn:hover:hover .btn__icon, .portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__btn:hover:focus .btn__icon, .portfolio .portfolio__container .portfolio__content .portfolio__data .portfolio__btn:hover:active .btn__icon {
  -webkit-animation-name: wobble_x;
          animation-name: wobble_x;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.portfolio .portfolio__container .swiper-button-prev::after,
.portfolio .portfolio__container .swiper-button-next::after {
  content: '';
}

.portfolio .portfolio__container .swiper-portfolio-icon {
  font-size: 2rem;
  color: #6e57e0;
}

.portfolio .portfolio__container .swiper-button-next {
  right: -0.5rem;
}

.portfolio .portfolio__container .swiper-button-prev {
  left: -0.5rem;
}

.portfolio .portfolio__container .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.portfolio .portfolio__container .swiper-pagination-bullet-active {
  background-color: #6e57e0;
}

.portfolio .portfolio__container .swiper-button-prev,
.portfolio .portfolio__container .swiper-button-next,
.portfolio .portfolio__container .swiper-pagination-bullet {
  outline: none;
}
