
// .about{
//     .about__container{

.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: $mb-2-5;
}

.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $mb-2-5;
}
    .about__info-title{
        font-size: $h1-font-size;
        font-weight: $font-bold;
        color: $title-color;
    }
    .about__info-name{
        font-size: $small-font-size;
    }
    .about__info-title,
    .about__info-name{
        display: block;
        text-align: center;
    }


.about__btn{
    display: flex;
    justify-content: center;

    &:hover { //twindle animation
        @include icon-wobble-y;
    }
}

