.project{
text-align: center;
}
.project__bg{
background-color: $first-color-second;
padding-top: 3rem;
}
// .project__container{
//     .project__data{
.project__title{
    font-size: $h2-font-size;
    margin-bottom: $mb-0-75;
}
.project__description{
    margin-bottom: $mb-1-5;
}
.project__title,
.project__description{
    color: #fff;
}

.project__img{
width: 232px;
justify-self: center;
}


