/* VARIABLES */
$header-height: 3rem; 
$screen-968: 968px;
$screen-767: 767px;

// Colors */
$hue-color: 173;    //250: blue, 48: orange, 173: 

// HSL Color Mode
$first-color: hsl($hue-color,69%,61%);  //hsl(hue,saturation,lightness)
$first-color-second:hsl($hue-color,69%,61) ;
$first-color-alt:hsl($hue-color,57%,53) ;
$first-color-lighter:hsl($hue-color,92%,85) ;
$title-color:hsl($hue-color,8%,15) ;
$text-color:hsl($hue-color,8%,45) ;
$text-color-light: hsl($hue-color,8%,65);
$input-color:hsl($hue-color,70%,96) ;
$body-color: hsl($hue-color,60%,99);
$container-color:#fff ;


// Font and typpgraphy */
// ____sm=small screnn, lg=large screen___

$primary-font: 'Poppins';
$secondary-font:  "'Barlow Condensed','Yanone Kaffeesatz',sans-serif";
$body-font: $primary-font,$secondary-font;
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

//======= font Weight =========*/
$font-semi-bold: 500;
$font-bold: 600;

/*======== margin bottom =====*/
// .25rem =4px, .5rem =8px, .75rem=12px ...*/
$mb-0-25: .25rem; 
$mb-0-5: .5rem; 
$mb-0-75: .75rem; 
$mb-1: 1rem; 
$mb-1-5: 1.5rem; 
$mb-2: 2rem; 
$mb-3: 3rem; 

//======== z index =======//
$z-tooltip:10;
$z-fixed: 100;
$z-modal: 1000;

// Screem Sizes /media queries.//

@media screen and (max-width: $screen-968) {
    $big-font-size: 3rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;

}

/* MIXINS */
@mixin flex($direction,$justify-content,$align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}



