/* VARIABLES */

$header-height: 3rem;
// Colors */
$hue-color: 250;

// HSL Color Mode
$first-color: hsl($hue-color,69%,61%);  //hsl(hue,saturation,lightness)
$first-color-second:hsl($hue-color,69%,61) ;
$first-color-alt:hsl($hue-color,57%,53) ;
$first-color-lighter:hsl($hue-color,92%,85) ;
$title-color:hsl($hue-color,8%,15) ;
$text-color:hsl($hue-color,8%,45) ;
$text-color-light: hsl($hue-color,8%,65);
$input-color:hsl($hue-color,70%,96) ;
$body-color: hsl($hue-color,60%,99);
$container-color:#fff ;


// Font and typpgraphy */
// ____sm=small screnn, lg=large screen___
$unit: 'rem';
$primary-font: 'Poppins';
$secondary-font:  "'Barlow Condensed','Yanone Kaffeesatz',sans-serif";
$body-font: $primary-font,$secondary-font;
$big-font-size: 2$unit;
$h1-font-size: 1.5$unit;
$h2-font-size: 1.25$unit;
$h3-font-size: 1.125$unit;
$normal-font-size: .938$unit;
$small-font-size: .813$unit;
$smaller-font-size: .75$unit;

//======= font Weight =========*/
$font-semi-bold: 500;
$font-bold: 600;

/*======== margin bottom =====*/
// .25rem =4px, .5rem =8px, .75rem=12px ...*/
$mb-0-25: .25$unit; 
$mb-0-5: .5$unit; 
$mb-0-75: .75$unit; 
$mb-1: 1$unit; 
$mb-2: 2$unit; 
$mb-3: 3$unit; 

//======== z index =======//
$z-tooltip:10;
$z-fixed: 100;
$z-modal: 1000;

// Screem Sizes /media queries.//
$large-screen: 980px;

@media screen and (max-width: $large-screen) {
    $big-font-size: 3$unit;
    $h1-font-size: 2.25$unit;
    $h2-font-size: 1.5$unit;
    $h3-font-size: 1.25$unit;
    $normal-font-size: 1$unit;
    $small-font-size: .875$unit;
    $smaller-font-size: .813$unit;

}

/* MIXINS */




