/*=====FONTS======*/
/*online*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*local*/
@import "../asserts/fonts/barlowCondensed-webfont/_font";
@import "../asserts/fonts/YanoneKaffeesatz-webfont/_font";

/*==================*/

/*=====================*/
/*variables, mixins, media queries, functions and all*/
@import "vars-mixins";


/*global styles */
@import "global_styles";

/*sections and pages*/
@import "header";
@import "home";
@import "about";
@import "skills";
@import "qualification";
@import "services";
@import "portfolio";
@import "project";
@import "testimonial";
@import "contact";
@import "footer";


//========DARK THEME VARIABLES
.dark-theme{
	$first-color-second:hsl($hue-color,30%,8%);
	$title-color:hsl($hue-color,8%,95%) ;
	$text-color:hsl($hue-color,8%,75%) ;
	$input-color:hsl($hue-color,29%,16%) ;
	$body-color: hsl($hue-color,28%,12%);
	$container-color:hsl($hue-color,29%,16%);
}